<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {{ 'tailwind.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'custom.css.liquid' | asset_url | stylesheet_tag: preload: true }}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="font-montserrat bg-white">
    {% sections 'header-group' %}

    {{ content_for_layout }}
     

    {% sections 'footer-group' %}
    <script defer src="{{ 'custom.js.liquid' | asset_url }}"> </script>
  </body>
</html>
