<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {{ 'tailwind.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
    <link rel="icon" type="image/x-icon" href="{{ 'Joe_Caricature_1.png' | file_img_url }}">
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="font-montserrat bg-white">
    {% sections 'header-group' %}

    {{ content_for_layout }}
     
    {% sections 'footer-group' %}
    <script defer src="{{ 'custom.js' | asset_url }}"> </script>
  </body>
</html>
