<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% # Load and preload the critical CSS %}
    {% comment %} {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}
    {{ 'tailwind.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="font-montserrat">
    {% sections 'header-group' %}

    {{ content_for_layout }}
     

    {% comment %} {% sections 'footer-group' %} {% endcomment %}
    <script defer src="{{ 'custom.js' | asset_url }}"> </script>
  </body>
</html>
