<header class="drawer bg-white pt-7 pb-2">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex justify-evenly items-center lg:items-center gap-1 lg:justify-around py-2">
    <div class="hidden lg:flex lg:gap-2 text-black">
      {% render 'icon-phone' %}
      <span> (555) 123-4567</span>
    </div>
    <div class="flex ml-3 lg:hidden items-center ml-2">
      <a href="#" >
        <label for="my-drawer" class="drawer-button">
          {% render 'icon-hamburger-menu' %}
        </label>
      </a>
    </div>

    <nav class="nav-links bg-white min-h-max top-[0] h-full lg:h-auto lg:pt-[8vh]">
      <a href="/" class="lg:absolute lg:top-[1vh] lg:left-[50%] lg:translate-x-[-50%] mt-1">
        <img src="{{section.settings.header_logo | image_url }}" height="auto" width="150" alt="JCC logo" class="lg:w-50.5">
      </a>
      <ul class="hidden lg:flex flex-col lg:flex-row gap-6 text-[14px] ml-[-60px]">
        {% for link in linklists.main-menu.links %}
          {% if link.active %}
            <li class="lg:rounded-sm text-black/65">
              <a class="bg-black/10 px-3.5 block py-2 lg:py-2 rounded-sm">{{ link.title }}</a>
            </li>
            {% else %}
            <li class="lg:rounded-sm text-black/65">
              <a class="hover:bg-black/10 px-3.5 block py-2 lg:py-2 rounded-sm" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      
      </ul>
    </nav>

    <ul id="shopify-icons" class="flex mr-5 lg:mr-0 lg:flex-row gap-1 lg:gap-5 text-black/70">
      {% comment %} <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-search' %}</li></a> {% endcomment %}
      <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-user' %}</li></a>
      <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-shopping-bag' %}</li></a>
    </ul>
  </div>

  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="flex flex-col bg-white min-h-full gap-7 w-[50%] pt-[9vh] text-sm">
      <label for="my-drawer" aria-label="close sidebar" class="">
        {% render 'icon-close-menu' %}
      </label>
          {% for link in linklists.main-menu.links %}
            {% if link.active %}
              <li class="mx-8 lg:rounded-sm text-black/85">
                <a class="tracking-wide bg-black/10 block px-5 py-2 lg:py-2 rounded-sm">{{ link.title }}</a>
              </li>
              {% else %}
              <li class="mx-8 lg:rounded-sm text-black/85">
                <a class="tracking-wide hover:bg-black/10 px-5 block py-2 lg:py-2 rounded-sm" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        
    </ul>
  </div>
  
  
  
 
  
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    }
  ]
}
{% endschema %}
